.sideObjectContent {
    .recommendList{
        li {
            border-bottom: 1px solid grey;
            padding: 12px 0;
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border: none;
                padding-bottom: 0;
            }
        }
    }
}