.real_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 1300px; 
    @include tab {
        height: 1150px;
    }
    @include sp {
        height: 1500px;
    }
    .moreButton {    
        margin-top: 80px;
        @include tab {
            margin-top: 0; 
        }
    }
}