.sideSearch {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 249, 249);
    .sideForm {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;    
        background-color: white;
    }
}