.study {
    padding-bottom: 0;
}
.studyBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 1100px;
    @include tab {
        height: 1300px;
    }
}
.bbi {
    width: 100%;
    object-fit: cover;
}