.tag {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .sideTag {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 49%;
        border-radius: 5px;
        background-color: rgb(237, 208, 114);
        color: white;
        height: 2.5em;
        .fas {
            padding: 0 10px;
        }    
    }
}